*{
/*    cursor: pointer;*/
    overflow: hidden;
    
}

body{
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}



#menu{ 
    position: fixed;
    bottom: 30px;
    left: 30px;
}

.knap{
    border: none;
    text-decoration: none;
    cursor: pointer; 
    background-color: transparent;
    display: block;
    height: 50px;
    width: 200px;
}

#about{
    height: 50px;
    width: 200px;
    background-image: url("about.png");
    background-size: cover;
    cursor: pointer;
}

#where{
    height: 50px;
    width: 200px;
    background-image: url("where.png");
    background-size: cover;
    cursor: pointer;
}

#about-boks{
    width: 35%;
    height: 35%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-image: url("about-tekst.png");
    background-size: cover;
    display: none;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

#where-boks{
    width: 25%;
    height: 90%;
    position: fixed;
    right: 0%;
    top: 5%;
    background-image: url("where-tekst.png");
    background-size: cover;
    display: none;
    background-size: auto 100% ;
    background-repeat: no-repeat;
    background-position: center;
}