*{
/*    cursor: pointer;*/
    overflow: hidden;
    
}



#menu{ 
    position: fixed;
    bottom: 30px;
    left: 30px;
}

.knap{
    border: none;
    text-decoration: none;
    cursor: pointer; 
    background-color: transparent;
    display: block;
    height: 50px;
    width: 200px;
}

#about{
    height: 50px;
    width: 200px;
    background-image: url("about.png");
    background-size: cover;
    cursor: pointer;
}

#where{
    height: 50px;
    width: 200px;
    background-image: url("where.png");
    background-size: cover;
    cursor: pointer;
}

#about-boks{
    width: 500px;
    height: 300px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-image: url("about-tekst.png");
    background-size: cover;
    display: none;
}

#where-boks{
    width: 300px;
    height: 750px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-image: url("where-tekst.png");
    background-size: cover;
    display: none;
}